.buttonStyle {
    font-size: 18px;
    color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    border: 0;
    background-color: #2485fb;
}

.buttonStyle:hover{
    background-color: #03316a;
}